<div>
<p>
<%= @article.title %>
<br>
<%= @article.body %>
</p>
<h2>Comments</h2>

<% @article.comments.each do |comment| %>
   <% unless comment.archived? %> 
    <ul> <li><%= comment.commenter%> </li>
   <li><%= comment.body%> </li>
   <p>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p></ul>
 <% end %>
<% end %>
 <h2>Add a comment:</h2>
 <%= render "comments/form", article: @article %>
<%=button_to "home","/articles",method: :get %>
</div>
